<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
         <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Shivanshu Jaiswal. It uses data from mapbox.com and openweathermap.org! </p>
        <div ><img class="portrait"src="/img/i3.jpg">
        <p class="a2">Hi I am Shivanshu Jaiswal . I am a student doing B.tech from AKGEC(AKTU) with CSE branch. I posses various technological skills such as Nodejs, C++, Python, Data Structures etc.</p>
        </div>
     {{!-- <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="shivanshu-jaiswal-17091998" ><a class="LI-simple-link" href='https://in.linkedin.com/in/shivanshu-jaiswal-17091998?trk=profile-badge'>Shivanshu Jaiswal</a></div> --}}
         </div>
        
      
        {{>footer}}
    </body>
</html>