<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Help</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
        
       <center><p>{{helpText}}</p></center> 
       <center> <p>For any query contact me on any of the platforms</p></center>
        <div>
 <div class="a1"><a href ="https://twitter.com/sj171998" class="fa fa-twitter" target="_blank"></a></div>
 <div class="a1"><a href="https://www.facebook.com/profile.php?id=100008193458525" class="fa fa-facebook" target="_blank"></a></div>
 <div class="a1"><a href="mailto:shivanshu5416jaiswal@gmail.com" class="fa fa-google" ></a></div>
 <div class="a1"><a href="https://www.instagram.com/jais_shivanshu" class="fa fa-instagram" target="_blank"></a></div>
 <div class="a1"><a href="https://www.linkedin.com/in/shivanshu-jaiswal-17091998/" class="fa fa-linkedin" target="_blank"></a></div>
         </div>
         <div>
            <center> <h4 style="margin: 20%;">Thanks for visiting the site. Please visit again</h4  ></center>
         </div>
        </div>
         {{>footer}}
       
    </body>
</html>